.btn
  background-color transparent
  border-radius 1u
  border: 1px solid #dddddd
  text-align: center
  padding 0 5u
  &.action
    background-color #8cc9f0
    border 1px solid #8cc9f0
  &.info
    border 1px solid rgba(255,255,255,0.35)
  +wide()
    width auto
    padding 0 2u
    
.txt
  color: #636363
  font-size 2u
  height 5u
  line-height 5u
  font-weight 300
  &.action, &.info
    color white