.nav
  flex-direction row
  justify-content center

.link
  border-radius 1u
  text-align: center
  padding 1u 2u
  margin 0 1u
  color: #636363
  &.active
    background-color #fff

.txt
  color: #636363
  +desktop()
    font-size 2.5u