.footer
  padding 5u 2u 1u

.container
  +tablet()
    flex-direction row
    align-items flex-start

.title
  font-size 3u
  font-weight 300
  color white
  line-height 6u
  margin-bottom 1u

.txt
  font-size 2u
  color inherit
  margin-bottom 4u
  // font-weight 100
  // color white