.footer
  padding 5u 2u 1u
  +tablet()
    padding 6u 4u 2u
  +desktop()
    padding 8u 6u 4u
  +wide()
    padding 8u 8u 4u

.container
  display flex
  +desktop()
    flex-direction row
    align-items flex-start

.title
  font-size 3u
  font-weight 300
  color white
  line-height 6u
  margin-bottom 1u

.txt
  font-size 2u
  line-height 3u
  color inherit
  margin-bottom 4u
  // font-weight 100
  // color white