$color = #C1B7DF

.root
  padding 0
  flex 1

.container
  margin 0 auto
  width 100%
  +tablet()
    width 128u
    max-width: calc(100% - 4u);

.title
  font-size 5.5u
  font-weight 300
  color white
  line-height 6u
  margin-top 3u
